#nav {
    border-bottom: 1px solid #bbb;
    width: 100vw;
    height: 4vh;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    padding-bottom: .8vh;
    margin-top: 0;
}

#bodyy {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%);
  background-position: top;
  background-size: 150%;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  height: 120vh;
  width: 120vw;
}

#main-body {
    height: 96vh;
    position: absolute;
    left: 5vw;;
    top: 50vh;
    font-size: 8vw;
    font-family: "Montserrat";
    color: #ccc;
    z-index: 100;
}

#links-head {
    display: none;
}

#bstostopthedropdownbreakingonapple {
    width: 100vw;
    height: 100vw;
    overflow-y: hidden !important;
    overflow: hidden !important;
    z-index: -999999999;
    position: fixed;
    top: 0;
    left: 0;
    background-image:
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 5.2vw;
    border: none;
    cursor: pointer;
    margin: auto;
    z-index: 99;
}

.dropdown {
    position: relative;
    float: right;
    display: inline-block;
    cursor: pointer;
    z-index: 99;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    padding-right: 16px;
    padding-top: 1vh;
    z-index: 8;
    font-family: "Montserrat";
    right: 0;
    z-index: 99;
}

.dropdown-content a {
    color: #ccc;
    padding-top: 12px;
    margin-left: 0;
    text-decoration: none;
    display: block;
    z-index: 99;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    z-index: 99;
}


.header {
    margin-top: 0 !important;
    float: left;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat", "sans-serif";
    font-size: 5.2vw;
    text-decoration: none !important;
    display: inline;
    color: #ccc;
    padding-bottom: .8vw;
    font-weight: 600
}

.links-head {
    display: none;
}

.tagline {
    font-size: 4vw;
}
body {
    background-image: linear-gradient(141deg, #55CDFC 0%, #F7A8B8 20%, #FFF 40%, #F7A8B8 80%, #55CDFC 100%);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    overflow: hidden !important;
    z-index: 9999999999999;
    position: fixed;
}

html {
    height: 100%;
}
