#nav {
    border-bottom: 1px solid #bbb;
    width: 100vw;
    height: 4vh;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    padding-bottom: .8vh;
    margin-top: 0;
}

#bstostopthedropdownbreakingonapple {
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

#bodyy {
  background-image: linear-gradient(0deg, #00000080 0%, #00000080 100%);
  background-position: top;
  background-size: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

#main-body {
    height: 96vh;
    display: table-cell;
    vertical-align: middle;
    font-size: 4vw;
    font-family: "Montserrat";
    color: #ccc;
    left: 0;

}

#main-body p {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.dropbtn {
    display: none;
    color: transparent;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: none;
}


.header {
    margin-top: 0 !important;
    float: left;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat", "sans-serif";
    font-size: 1.3vw;
    text-decoration: none !important;
    display: inline;
    color: #ccc;
    padding-bottom: .8vw;
    font-weight: 600
}

.header span {
    margin-left: 3vw;
    padding-left: 3vw;
}

.links-head {
    display: table-cell;
    vertical-align: middle;
    float: right;
    padding-right: 4vw;
    font-size: 1.1vw;
    padding-left: 0vw;
}
.tagline {
    font-size: 2vw;
    padding-left: 0;
    margin-left: 0;
}

body {
    background-image: linear-gradient(141deg, #55CDFC 0%, #F7A8B8 20%, #FFF 40%, #F7A8B8 80%, #55CDFC 100%);
    background-position: top;
    background-size: 101%;
}

html {
    height: 101%;
    overflow-x: hidden;
    overflow-y: hidden;
}
